.site-header{
  background: rgba(255,255,255,0.5);
  display: flex;
  padding: 60px 20px;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  transition: .5s;
  width: 100%;
  &__list {
    width: 25%;
    text-align: center;
  }
}
.site-header.transform{
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-bottom: 1px solid lightgray;
} 