.site-header{
  background: rgba(255,255,255,0.5);
  display: flex;
  padding: 60px 200px;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  transition: .5s;
  width: 100%;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  h1 {
    font-size: 20px;
  }
  &__right {
    width: 150px;
    display: flex;
    justify-content: end;
    #github {
      font-size: 40px;
      text-decoration: none;
      color: black;
      }
    #twitter {
    font-size: 40px;
    text-decoration: none;
    color: rgb(149, 225, 255);
    }
    #blog {
      font-size: 40px;
      text-decoration: none;
      color: rgb(255, 197, 109);
    }
    a {
      width: 50px;
    }
  }
}
.site-header.transform{
  background: rgba(255,255,255,0.9);
  padding: 20px;
  border-bottom: 1px solid lightgray;
} 