.main-wrapper {
  height: 800px;
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)) fixed, url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg) fixed;
  background-size: cover;  padding: 150px;
  border-bottom: 1px solid rgb(236, 236, 236);

  &__title {
    width: 100%;
    text-align: center;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    p {
      width: 70px;
      border-bottom: 3px solid gray;
    }
  }
  &__groups {
    height: 400px;
    width: 100%;
    display: flex;
    &--app {
      padding: 10px;
      align-items: center;
      &__link {
        width: 100%;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        img{
          width: 100%;
          margin-bottom: 20px;
          transform: scale(1.1);
          filter: grayscale(100%);
          transition-duration: 0.5s;
        }
        img:hover{
          filter: grayscale(0);
          transition-duration: 0.5s;
        }
      }
      &__title {
        width: 100%;
        text-align: center;
        font-weight: bold;
        #comming {
          margin-top: 90px;
        }
      }
      &__text {
        width: 100%;
        text-align: center;
        margin-top: 100px;
        filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
      }
    }
  }
} 