.top-wrapper {
  height: 800px;
  overflow: hidden;
  &__image {
    position: relative;
  }
  &__right {
    width: 50%;
    padding: 160px 0 30px 300px;
    position: absolute;
    top:0;
    right:0;
    &--icon {
      width: 300px;
      filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    }
  }
} 

