.loading {
  width: 100vw;
  height: 100vh;
  transition: all 3s;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  .loading__spinner {
    width: 100px;
    height: 100px;
    margin: 350px auto;
    background-color: #fff;
    border-radius: 100%;
    animation: sk-scaleout 0.7s infinite ease-in-out;
  }
}

@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}

.loaded {
  opacity: 0;
  visibility: hidden;
}


.top-wrapper {
  height: 800px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  width: 100%;
  background: linear-gradient(to bottom, #a6d900 0%, #ff6e7a 100%);
  opacity: 0.4;
  animation: huerotator 5s infinite alternate;
  @keyframes huerotator {
    0% {
      -webkit-filter: hue-rotate(0deg);
      filter: hue-rotate(0deg);
    }
  
    100% {
      -webkit-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }
} 
.top-text {
  position: absolute;
  top: 60%;
  left: 65%;
  font-size: 25px;
}

