@keyframes sk-scaleout {
  0% {
    transform: scale(0);
  } 100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
.top-wrapper {
  height: 800px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(-45deg, rgba(246, 255, 0, .8), rgba(255, 0, 161, .8)) fixed, url(http://www.webcreatorbox.com/sample/images/bg-cherrybrossam.jpg) fixed;
  background-size: cover;
} 
.top-text {
  position: absolute;
  top: 60%;
  left: 65%;
  font-size: 25px;
}

