.under-wrapper {
  height: 800px;
  background-color: white;
  padding: 150px 300px;
  width: 100%;
  background-size: cover;
  &__text {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    p {
      width: 120px;
      border-bottom: 1px solid gray;
    }
  }
  &__groups1 {
    height: 250px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
    &--html {
      position: relative;
      text-align: center;
      img {
        width: 300px;
        position: absolute;
        bottom: -40px;
        left: 50px;
      }
      &__text {
        position: absolute;
        top: 45%;
      }
    }
    &--ruby {
      position: relative;
      text-align: center;
      img {
        width: 250px;
      }
      &__text {
        position: absolute;
        top: 45%;
      }
    } 
  }
  &__groups2 {
    height: 250px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    &--js {
      border-radius: 50% 0 50% 50%;
      position: relative;
      text-align: center;
      img {
        width: 250px;
      }
      &__text {
        position: absolute;
        top: 45%;
      }
    }
    &--java {
      border-radius: 0 50% 50% 50%;
      position: relative;
      text-align: center;
      img {
        width: 350px;
        position: absolute;
        top: -40px;
        right: 50px;
      }
      &__text {
        position: absolute;
        top: 45%;
      }
    }
  } 
}