.about-wrapper
  .about-wrapper__text
    %p ABOUT
  .about-wrapper__box
    .about-wrapper__box__left   
      .about-wrapper__box__left--textBox
        %p#about-title profile
        %pここに
        %p本文が
        %p入ります
        %p趣味
        %p特技
        %pなぜエンジニアを目指したか
        %pなど
        
    .about-wrapper__box__right
      .about-wrapper__box__right--image
        = image_tag src ="harinezumi.jpg", class: "about-wrapper__box__right--image"