.about-wrapper#about
  .about-wrapper__text
    %p ABOUT
  .about-wrapper__box
    .about-wrapper__box__left   
      .about-wrapper__box__left--textBox
        %p#about-title profile
        %p 名　前：　寺嶋　誠（てらしま　まこと）
        %br
        %p 年　齢：　28歳
        %br
        %p 所在地：　和歌山県
        %br
        %p 経　歴：
        %p 2010.04.01　西日本旅客鉄道株式会社 入社
        %p　　　　　　駅員や乗務員（車掌）を勤める。
        %p 2020.01.31　同社 退職
        %p 2020.02.17　TECH::EXPERT(現TECH CAMP)にて
        %p　　　　　　プログラミング学習をスタート
        %p 2020.04.24　TECH CAMP 卒業
        %br
        %p 子どもや社会の幸せをサポートするモノ造りができる
        %p そんなエンジニアを目指して日々学習しています。
    .about-wrapper__box__right
      .about-wrapper__box__right--image
        = image_tag src ='/640.png', class: "about-wrapper__box__right--image"
