-# .site-header
-#   .site-header__list
-#     logo
-#   .site-header__list
-#     =link_to "About", { anchor: 'about'} 
-#   .site-header__list
-#     =link_to "App", { anchor: 'main'} 
-#   .site-header__list
-#     Skill

.site-header
  %h1 Wlocome to rashiemon's portfolio.
  .site-header__right
    = link_to 'http://www.rashiemon.com/' do
      %i.fab.fa-github#github
    = link_to 'https://twitter.com/rashiemooooon' do
      %i.fab.fa-twitter-square#twitter
    = link_to 'https://rashiemon.wordpress.com/' do
      %i.fab.fa-blogger#blog