.main-wrapper
  .main-wrapper__title
    App
  .main-wrapper__groups
    .main-wrapper__groups--app
      .main-wrapper__groups--app__link
        ここに画像リンク
      .main-wrapper__groups--app__title
        ここにタイトル
    .main-wrapper__groups--app
      .main-wrapper__groups--app__link
      .main-wrapper__groups--app__title    
    .main-wrapper__groups--app
      .main-wrapper__groups--app__link
      .main-wrapper__groups--app__title 