.top-wrapper
  = image_tag src = "https://pixabay.com/get/54e2d1414853af14f6d1867dda6d49214b6ac3e45659754a77277ed396/coffee-2242213_1920.jpg?attachment", class: "top-wapper__image"
  .top-wrapper__left
    .top-wrapper__left--title
      Profile
    .top-wrapper__left--body
      ここにプロフィールが入る

