.loading
  .loading__spinner

.top-wrapper
  = image_tag src = "2548090.png", class: "top-wapper__image"
  .top-wrapper__right   
    -# = image_tag src="icon.png", class: "top-wrapper__right--icon"
  .top-text
    %p パステルカラーのように優しく、
    %p 様々な色彩（ヒト）と協調できる
    %p そんなエンジニアを目指します。
