.under-wrapper
  .under-wrapper__text
    %p SKILL
  .under-wrapper__groups1
    .under-wrapper__groups1--html
      = image_tag src=('/assets/106.png')
      .under-wrapper__groups1--html__text
        %p HTML ＆ CSS
    .under-wrapper__groups1--ruby
      = image_tag src=('/assets/076.png')
      .under-wrapper__groups1--ruby__text
        %p Ruby & Ruby on Rails
  .under-wrapper__groups2
    .under-wrapper__groups2--js
      = image_tag src=('/assets/053.png')
      .under-wrapper__groups2--js__text
        %p JavaScript & jQuery
    .under-wrapper__groups2--java
      = image_tag src=('/assets/105.png')
      .under-wrapper__groups2--java__text
        %p Java

