.under-wrapper
  .under-wrapper__text
    %p SKILL
  .under-wrapper__groups1
    .under-wrapper__groups1--html
      .under-wrapper__groups1--html__text
        %p HTML＆CSS
    .under-wrapper__groups1--ruby
      .under-wrapper__groups1--ruby__text
        %p Ruby
        %p Ruby on Rails
  .under-wrapper__groups2
    .under-wrapper__groups2--js
      .under-wrapper__groups2--js__text
        %p JavaScript
        %p jQuery
    .under-wrapper__groups2--java
      .under-wrapper__groups2--java__text
        %p Java

