.wrapper  
  =render partial: "posts/header"
  =render partial: "posts/top-wrapper"
  =render partial: "posts/about-wrapper"
  =render partial: "posts/main-wrapper"
  =render partial: "posts/under-wrapper"
  =render partial: "posts/footer"
