@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/top-wrapper";
@import "modules/main-wrapper";
@import "modules/under-wrapper";
@import "modules/footer";
@import "modules/about";

* {
  width: 100%;
  font-feature-settings: "palt";
  box-sizing: border-box;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
#cursor{
  transform: translate(0,0);
  pointer-events: none;
  position: fixed;
  top: -4px;    //座標調節（カーソル位置と円の中心を合わせる）
  left: -4px;   //座標調節（カーソル位置と円の中心を合わせる）
  width: 8px;   //カーソルの直径
  height: 8px;  //カーソルの直径
  background: rgba(0,0,0,0.75);
  border-radius: 50%;
  z-index: 999;
  transition: width .3s, height .3s, top .3s, left .3s;

  &.hov_{
      top: -12px;    //大きくなった分の座標調節
      left: -12px;   //大きくなった分の座標調節
      width: 32px;   //カーソルの直径
      height: 32px;  //カーソルの直径
      background: rgba(200,50,50,0.75);
  }
}
html,body,a{
  cursor: none;
}