@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/top-wrapper";
@import "modules/main-wrapper";
@import "modules/under-wrapper";
@import "modules/footer";
@import "modules/about";

* {
  width: 100%;
  font-feature-settings: "palt";
  box-sizing: border-box;
}